# Introduction

In this project, data on insurance is analysed and model is built for predicting whether the claim by the Hospital to the Insurance company is Fraudulent or Genuine

# Objective:

To predict whether the claim by the Hospital to the Insurance company is Fraudulent or Genuine

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Import Dataset

In [2]:
#from google.colab import files
#upload=files.upload()

In [3]:
insu_data_original=pd.read_csv('Insurance Dataset.csv')

# Exploratory Data Analysis

In [4]:
insu_data_original.head()

,Area_Service,Hospital County,Hospital Id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,"Home or self care,",...,Mortality risk,Surg_Description,Weight_baby,Abortion,Emergency dept_yes/No,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,...,1.0,Medical,0,N,Y,5511.95,5582.49,1.012798,1,1
1,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,...,2.0,Medical,0,N,Y,4783.20,5162.82,1.079365,1,1
2,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,3,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,3829.15,4056.52,1.059379,1,1
3,Western NY,Allegany,37.0,0 to 17,F,White,Not Span/Hispanic,1,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,1108.20,1644.75,1.484167,0,1
4,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,3,Elective,Home or Self Care,...,3.0,Medical,0,N,Y,3418.18,3370.87,0.986161,1,1

In [5]:
insu_data=insu_data_original.copy()

In [6]:
insu_data.head()

,Area_Service,Hospital County,Hospital Id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,"Home or self care,",...,Mortality risk,Surg_Description,Weight_baby,Abortion,Emergency dept_yes/No,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,...,1.0,Medical,0,N,Y,5511.95,5582.49,1.012798,1,1
1,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,...,2.0,Medical,0,N,Y,4783.20,5162.82,1.079365,1,1
2,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,3,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,3829.15,4056.52,1.059379,1,1
3,Western NY,Allegany,37.0,0 to 17,F,White,Not Span/Hispanic,1,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,1108.20,1644.75,1.484167,0,1
4,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,3,Elective,Home or Self Care,...,3.0,Medical,0,N,Y,3418.18,3370.87,0.986161,1,1

In [7]:
insu_data.columns

Index(['Area_Service', 'Hospital County', 'Hospital Id', 'Age', 'Gender',
       'Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type',
       'Home or self care,', 'ccs_diagnosis_code', 'ccs_procedure_code',
       'apr_drg_description', 'Code_illness', 'Mortality risk',
       'Surg_Description', 'Weight_baby', 'Abortion', 'Emergency dept_yes/No',
       'Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges',
       'Result', 'Payment_Typology'],
      dtype='object')

In [8]:
insu_data.rename(columns={'Hospital County':'hospital_county','Hospital Id':'hospital_id','Home or self care,':'home_self_care','Mortality risk':'mortality_risk','Emergency dept_yes/No':'emergency_dept_yes_no'},inplace=True)

In [9]:
insu_data.columns

Index(['Area_Service', 'hospital_county', 'hospital_id', 'Age', 'Gender',
       'Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type',
       'home_self_care', 'ccs_diagnosis_code', 'ccs_procedure_code',
       'apr_drg_description', 'Code_illness', 'mortality_risk',
       'Surg_Description', 'Weight_baby', 'Abortion', 'emergency_dept_yes_no',
       'Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges',
       'Result', 'Payment_Typology'],
      dtype='object')

In [10]:
insu_data.describe()

,hospital_id,ccs_diagnosis_code,ccs_procedure_code,Code_illness,mortality_risk,Weight_baby,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
count,1.046119e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048533e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,6.529400e+02,1.987936e+02,9.723249e+01,2.051806e+00,1.748955e+00,2.935512e+02,2.708697e+04,1.046399e+04,4.565822e-01,7.499769e-01,1.935755e+00
std,6.711577e+02,1.652839e+02,8.732697e+01,9.145785e-01,9.864236e-01,9.494631e+02,5.487428e+04,2.230366e+04,8.029246e-01,4.330263e-01,7.717916e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,3.100000e-01,1.000000e-01,3.312909e-02,0.000000e+00,1.000000e+00
25%,2.130000e+02,1.080000e+02,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,7.402500e+03,3.234570e+03,3.135802e-01,0.000000e+00,1.000000e+00
50%,6.300000e+02,1.590000e+02,9.000000e+01,2.000000e+00,1.000000e+00,0.000000e+00,1.458988e+04,5.928480e+03,4.091384e-01,1.000000e+00,2.000000e+00
75%,9.770000e+02,2.180000e+02,1.740000e+02,3.000000e+00,3.000000e+00,0.000000e+00,2.914547e+04,1.134317e+04,5.192548e-01,1.000000e+00,3.000000e+00
max,9.250000e+03,6.700000e+02,2.310000e+02,4.000000e+00,4.000000e+00,9.000000e+03,6.196974e+06,2.562478e+06,1.575596e+02,1.000000e+00,5.000000e+00

In [11]:
insu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   Area_Service                           1046119 non-null  object
 1   hospital_county                        1046119 non-null  object
 2   hospital_id                            1046119 non-null  float64
 3   Age                                    1048575 non-null  object
 4   Gender                                 1048575 non-null  object
 5   Cultural_group                         1048575 non-null  object
 6   ethnicity                              1048575 non-null  object
 7   Days_spend_hsptl                       1048575 non-null  object
 8   Admission_type                         1048575 non-null  object
 9   home_self_care                         1048575 non-null  object
 10  ccs_diagnosis_code                     1048575 non-null  int64
 11  ccs_procedure_code                     1048575 non-null  int64
 12  apr_drg_description                    1048575 non-null  object
 13  Code_illness                           1048575 non-null  int64
 14  mortality_risk                         1048533 non-null  float64
 15  Surg_Description                       1048575 non-null  object
 16  Weight_baby                            1048575 non-null  int64
 17  Abortion                               1048575 non-null  object
 18  emergency_dept_yes_no                  1048575 non-null  object
 19  Tot_charg                              1048575 non-null  float64
 20  Tot_cost                               1048575 non-null  float64
 21  ratio_of_total_costs_to_total_charges  1048575 non-null  float64
 22  Result                                 1048575 non-null  int64
 23  Payment_Typology                       1048575 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 192.0+ MB

In [12]:
insu_data_columns=['Area_Service', 'hospital_county', 'hospital_id', 'Age', 'Gender','Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type','home_self_care', 'ccs_diagnosis_code', 'ccs_procedure_code','apr_drg_description', 'Code_illness', 'mortality_risk','Surg_Description', 'Weight_baby', 'Abortion', 'emergency_dept_yes_no','Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges','Result', 'Payment_Typology']
insu_data_columns

['Area_Service',
 'hospital_county',
 'hospital_id',
 'Age',
 'Gender',
 'Cultural_group',
 'ethnicity',
 'Days_spend_hsptl',
 'Admission_type',
 'home_self_care',
 'ccs_diagnosis_code',
 'ccs_procedure_code',
 'apr_drg_description',
 'Code_illness',
 'mortality_risk',
 'Surg_Description',
 'Weight_baby',
 'Abortion',
 'emergency_dept_yes_no',
 'Tot_charg',
 'Tot_cost',
 'ratio_of_total_costs_to_total_charges',
 'Result',
 'Payment_Typology']

In [13]:
for i in insu_data_columns:
   print(len(insu_data[i].unique()))

8
52
144
5
3
4
3
120
6
19
262
230
316
5
5
3
70
2
2
869659
766537
987065
2
5

### Check for null values if any

In [14]:
insu_data.isnull().sum()

Area_Service                             2456
hospital_county                          2456
hospital_id                              2456
Age                                         0
Gender                                      0
Cultural_group                              0
ethnicity                                   0
Days_spend_hsptl                            0
Admission_type                              0
home_self_care                              0
ccs_diagnosis_code                          0
ccs_procedure_code                          0
apr_drg_description                         0
Code_illness                                0
mortality_risk                             42
Surg_Description                            0
Weight_baby                                 0
Abortion                                    0
emergency_dept_yes_no                       0
Tot_charg                                   0
Tot_cost                                    0
ratio_of_total_costs_to_total_charges       0
Result                                      0
Payment_Typology                            0
dtype: int64

In [15]:
insu_data.isnull().mean()

Area_Service                             0.002342
hospital_county                          0.002342
hospital_id                              0.002342
Age                                      0.000000
Gender                                   0.000000
Cultural_group                           0.000000
ethnicity                                0.000000
Days_spend_hsptl                         0.000000
Admission_type                           0.000000
home_self_care                           0.000000
ccs_diagnosis_code                       0.000000
ccs_procedure_code                       0.000000
apr_drg_description                      0.000000
Code_illness                             0.000000
mortality_risk                           0.000040
Surg_Description                         0.000000
Weight_baby                              0.000000
Abortion                                 0.000000
emergency_dept_yes_no                    0.000000
Tot_charg                                0.000000
Tot_cost                                 0.000000
ratio_of_total_costs_to_total_charges    0.000000
Result                                   0.000000
Payment_Typology                         0.000000
dtype: float64

#### Here we have percentage of null values as area of service=0.23, hospital_county=0.23, hospital_id=0.23, mortality_risk=0.04.
#### So we replaced null values with central tendencies

In [16]:
#filling missing values with Mode 
insu_data['Area_Service'] = insu_data['Area_Service'].fillna(insu_data['Area_Service'].mode()[0])
insu_data['hospital_county'] = insu_data['hospital_county'].fillna(insu_data['hospital_county'].mode()[0])
#filling Hospital Id missing values with Median 
insu_data['hospital_id'] = insu_data['hospital_id'].fillna(insu_data['hospital_id'].median())
insu_data["mortality_risk"].fillna(0,inplace=True)

In [17]:
insu_data.isna().sum()

Area_Service                             0
hospital_county                          0
hospital_id                              0
Age                                      0
Gender                                   0
Cultural_group                           0
ethnicity                                0
Days_spend_hsptl                         0
Admission_type                           0
home_self_care                           0
ccs_diagnosis_code                       0
ccs_procedure_code                       0
apr_drg_description                      0
Code_illness                             0
mortality_risk                           0
Surg_Description                         0
Weight_baby                              0
Abortion                                 0
emergency_dept_yes_no                    0
Tot_charg                                0
Tot_cost                                 0
ratio_of_total_costs_to_total_charges    0
Result                                   0
Payment_Typology                         0
dtype: int64

# Feature Engineering

### Converting Categorical data to Numerical data

In [18]:
string_columns=['Area_Service','hospital_county','Age','Gender','Cultural_group','ethnicity','Admission_type','home_self_care','apr_drg_description','Surg_Description','Abortion','emergency_dept_yes_no']

In [19]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()

for i in string_columns:
    insu_data[i]=label_encoder.fit_transform(insu_data[i])

In [20]:
insu_data.head()

,Area_Service,hospital_county,hospital_id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,home_self_care,...,mortality_risk,Surg_Description,Weight_baby,Abortion,emergency_dept_yes_no,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,6,1,37.0,2,0,3,0,4,0,7,...,1.0,0,0,0,1,5511.95,5582.49,1.012798,1,1
1,6,1,37.0,4,0,3,0,4,5,17,...,2.0,0,0,0,1,4783.20,5162.82,1.079365,1,1
2,6,1,37.0,2,0,3,0,3,5,7,...,1.0,0,0,0,1,3829.15,4056.52,1.059379,1,1
3,6,1,37.0,0,0,3,0,1,5,7,...,1.0,0,0,0,1,1108.20,1644.75,1.484167,0,1
4,6,1,37.0,4,0,3,0,3,0,7,...,3.0,0,0,0,1,3418.18,3370.87,0.986161,1,1

In [21]:
insu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   Area_Service                           1048575 non-null  int32
 1   hospital_county                        1048575 non-null  int32
 2   hospital_id                            1048575 non-null  float64
 3   Age                                    1048575 non-null  int32
 4   Gender                                 1048575 non-null  int32
 5   Cultural_group                         1048575 non-null  int32
 6   ethnicity                              1048575 non-null  int32
 7   Days_spend_hsptl                       1048575 non-null  object
 8   Admission_type                         1048575 non-null  int32
 9   home_self_care                         1048575 non-null  int32
 10  ccs_diagnosis_code                     1048575 non-null  int64
 11  ccs_procedure_code                     1048575 non-null  int64
 12  apr_drg_description                    1048575 non-null  int32
 13  Code_illness                           1048575 non-null  int64
 14  mortality_risk                         1048575 non-null  float64
 15  Surg_Description                       1048575 non-null  int32
 16  Weight_baby                            1048575 non-null  int64
 17  Abortion                               1048575 non-null  int32
 18  emergency_dept_yes_no                  1048575 non-null  int32
 19  Tot_charg                              1048575 non-null  float64
 20  Tot_cost                               1048575 non-null  float64
 21  ratio_of_total_costs_to_total_charges  1048575 non-null  float64
 22  Result                                 1048575 non-null  int64
 23  Payment_Typology                       1048575 non-null  int64
dtypes: float64(5), int32(12), int64(6), object(1)
memory usage: 144.0+ MB

In [22]:
insu_data['Days_spend_hsptl'].unique()

array(['4', '3', '1', '2', '5', '6', '14', '12', '9', '8', '10', '7',
       '22', '11', '16', '15', '25', '13', '17', '28', '18', '19', '23',
       '38', '20', '24', '26', '21', '27', '30', '29', '39', '87', '35',
       '37', '32', '55', '56', '49', '110', '69', '75', '42', '51', '47',
       '45', '46', '40', '34', '79', '43', '120 +', '65', '41', '31',
       '50', '59', '44', '36', '70', '115', '58', '94', '33', '68', '67',
       '54', '80', '85', '95', '78', '91', '88', '48', '52', '63', '57',
       '74', '64', '53', '62', '97', '72', '118', '81', '90', '86', '106',
       '112', '105', '114', '66', '89', '83', '84', '82', '93', '116',
       '71', '60', '73', '61', '92', '76', '96', '77', '104', '100',
       '103', '102', '117', '108', '99', '107', '98', '101', '119', '111',
       '109', '113'], dtype=object)

#### Here Days_spend_hsptl is numerical but it is showing as object, So convert it to int and replacing '120+' with numeric value

In [23]:
insu_data['Days_spend_hsptl'].value_counts()

2      236538
3      190386
1      155855
4      113797
5       73684
        ...
107        20
108        20
110        19
101        15
113         7
Name: Days_spend_hsptl, Length: 120, dtype: int64

In [24]:
insu_data['Days_spend_hsptl'].replace(to_replace='120 +',value='121',inplace=True)

In [25]:
insu_data['Days_spend_hsptl']=insu_data['Days_spend_hsptl'].astype('int64')

In [26]:
insu_data['Days_spend_hsptl'].unique()

array([  4,   3,   1,   2,   5,   6,  14,  12,   9,   8,  10,   7,  22,
        11,  16,  15,  25,  13,  17,  28,  18,  19,  23,  38,  20,  24,
        26,  21,  27,  30,  29,  39,  87,  35,  37,  32,  55,  56,  49,
       110,  69,  75,  42,  51,  47,  45,  46,  40,  34,  79,  43, 121,
        65,  41,  31,  50,  59,  44,  36,  70, 115,  58,  94,  33,  68,
        67,  54,  80,  85,  95,  78,  91,  88,  48,  52,  63,  57,  74,
        64,  53,  62,  97,  72, 118,  81,  90,  86, 106, 112, 105, 114,
        66,  89,  83,  84,  82,  93, 116,  71,  60,  73,  61,  92,  76,
        96,  77, 104, 100, 103, 102, 117, 108,  99, 107,  98, 101, 119,
       111, 109, 113], dtype=int64)

In [27]:
insu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   Area_Service                           1048575 non-null  int32
 1   hospital_county                        1048575 non-null  int32
 2   hospital_id                            1048575 non-null  float64
 3   Age                                    1048575 non-null  int32
 4   Gender                                 1048575 non-null  int32
 5   Cultural_group                         1048575 non-null  int32
 6   ethnicity                              1048575 non-null  int32
 7   Days_spend_hsptl                       1048575 non-null  int64
 8   Admission_type                         1048575 non-null  int32
 9   home_self_care                         1048575 non-null  int32
 10  ccs_diagnosis_code                     1048575 non-null  int64
 11  ccs_procedure_code                     1048575 non-null  int64
 12  apr_drg_description                    1048575 non-null  int32
 13  Code_illness                           1048575 non-null  int64
 14  mortality_risk                         1048575 non-null  float64
 15  Surg_Description                       1048575 non-null  int32
 16  Weight_baby                            1048575 non-null  int64
 17  Abortion                               1048575 non-null  int32
 18  emergency_dept_yes_no                  1048575 non-null  int32
 19  Tot_charg                              1048575 non-null  float64
 20  Tot_cost                               1048575 non-null  float64
 21  ratio_of_total_costs_to_total_charges  1048575 non-null  float64
 22  Result                                 1048575 non-null  int64
 23  Payment_Typology                       1048575 non-null  int64
dtypes: float64(5), int32(12), int64(7)
memory usage: 144.0 MB

### let us check for duplicated values if any and delete them

In [28]:
insu_data.duplicated(keep='first').sum()

4814

In [29]:
insu_data.drop_duplicates(keep='first',inplace=True)

In [30]:
insu_data.shape

(1043761, 24)

#### here Abortion column may create biasness since there is only one category so delete that feature

In [31]:
insu_data.drop(columns=['Abortion'],inplace=True)

In [32]:
insu_data.shape

(1043761, 23)

### Check for Skewness

In [33]:
insu_data.skew()

Area_Service                              0.367990
hospital_county                           0.066411
hospital_id                               6.557838
Age                                      -0.526208
Gender                                    0.266477
Cultural_group                           -1.307642
ethnicity                                 2.756222
Days_spend_hsptl                          6.565761
Admission_type                            1.845107
home_self_care                            1.688921
ccs_diagnosis_code                        1.946566
ccs_procedure_code                        0.221264
apr_drg_description                       0.021904
Code_illness                              0.443766
mortality_risk                            0.867942
Surg_Description                          1.266184
Weight_baby                               3.110764
emergency_dept_yes_no                    -0.260972
Tot_charg                                18.074458
Tot_cost                                 27.554971
ratio_of_total_costs_to_total_charges    95.725052
Result                                   -1.150973
Payment_Typology                          0.154035
dtype: float64

In [34]:
insu_data.columns

Index(['Area_Service', 'hospital_county', 'hospital_id', 'Age', 'Gender',
       'Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type',
       'home_self_care', 'ccs_diagnosis_code', 'ccs_procedure_code',
       'apr_drg_description', 'Code_illness', 'mortality_risk',
       'Surg_Description', 'Weight_baby', 'emergency_dept_yes_no', 'Tot_charg',
       'Tot_cost', 'ratio_of_total_costs_to_total_charges', 'Result',
       'Payment_Typology'],
      dtype='object')

#### From Analysis it is observed that hospital_id,hospital_county,Weight_baby,apr_drg_description, ratio_of_total_costs_to_total_charges are some of features  which are not impacting much, So we are dropping those features

In [35]:
#Dropping hospital_id,hospital_county,baby_weight,app_drug_description,ratio_of_total_charges,mortality_risk as they does not have much impact on Target
insu_data = insu_data.drop(['hospital_county', 'hospital_id','Weight_baby','apr_drg_description','ratio_of_total_costs_to_total_charges'],inplace=False,axis=1)
insu_data.head()

,Area_Service,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,home_self_care,ccs_diagnosis_code,ccs_procedure_code,Code_illness,mortality_risk,Surg_Description,emergency_dept_yes_no,Tot_charg,Tot_cost,Result,Payment_Typology
0,6,2,0,3,0,4,0,7,122,0,1,1.0,0,1,5511.95,5582.49,1,1
1,6,4,0,3,0,4,5,17,197,0,3,2.0,0,1,4783.20,5162.82,1,1
2,6,2,0,3,0,3,5,7,122,0,1,1.0,0,1,3829.15,4056.52,1,1
3,6,0,0,3,0,1,5,7,122,0,1,1.0,0,1,1108.20,1644.75,0,1
4,6,4,0,3,0,3,0,7,122,0,2,3.0,0,1,3418.18,3370.87,1,1

In [36]:
insu_data.shape

(1043761, 18)

### Since Dataset is Very Large, consider a sample of data for model building and for Deployment Process

#### Note:  Model Build on Complete data is present @Model.ipynb , for deployment purpose itself we have used this sample data

In [37]:
insu_sample=insu_data.sample(frac=0.005,random_state=3)
insu_sample.shape

(5219, 18)

In [38]:
insu_sample.isnull().sum()

Area_Service             0
Age                      0
Gender                   0
Cultural_group           0
ethnicity                0
Days_spend_hsptl         0
Admission_type           0
home_self_care           0
ccs_diagnosis_code       0
ccs_procedure_code       0
Code_illness             0
mortality_risk           0
Surg_Description         0
emergency_dept_yes_no    0
Tot_charg                0
Tot_cost                 0
Result                   0
Payment_Typology         0
dtype: int64

In [39]:
insu_sample.head()

,Area_Service,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,home_self_care,ccs_diagnosis_code,ccs_procedure_code,Code_illness,mortality_risk,Surg_Description,emergency_dept_yes_no,Tot_charg,Tot_cost,Result,Payment_Typology
570013,0,2,1,3,0,2,1,7,159,0,2,1.0,0,1,12834.66,3830.89,1,3
438551,1,0,1,3,0,2,2,7,218,115,1,1.0,0,0,3269.74,1556.75,0,1
573426,0,4,0,3,0,2,1,7,98,0,3,2.0,0,1,14640.73,3438.45,1,3
275709,2,3,1,3,0,1,1,7,160,0,2,1.0,0,1,4108.17,2341.40,0,2
883326,3,4,0,3,0,5,1,18,59,216,4,4.0,0,0,21479.38,11893.51,1,3

In [40]:
insu_sample=insu_sample.reset_index(drop=True)

In [41]:
insu_sample.columns

Index(['Area_Service', 'Age', 'Gender', 'Cultural_group', 'ethnicity',
       'Days_spend_hsptl', 'Admission_type', 'home_self_care',
       'ccs_diagnosis_code', 'ccs_procedure_code', 'Code_illness',
       'mortality_risk', 'Surg_Description', 'emergency_dept_yes_no',
       'Tot_charg', 'Tot_cost', 'Result', 'Payment_Typology'],
      dtype='object')

In [42]:
insu_sample.head()

,Area_Service,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,home_self_care,ccs_diagnosis_code,ccs_procedure_code,Code_illness,mortality_risk,Surg_Description,emergency_dept_yes_no,Tot_charg,Tot_cost,Result,Payment_Typology
0,0,2,1,3,0,2,1,7,159,0,2,1.0,0,1,12834.66,3830.89,1,3
1,1,0,1,3,0,2,2,7,218,115,1,1.0,0,0,3269.74,1556.75,0,1
2,0,4,0,3,0,2,1,7,98,0,3,2.0,0,1,14640.73,3438.45,1,3
3,2,3,1,3,0,1,1,7,160,0,2,1.0,0,1,4108.17,2341.40,0,2
4,3,4,0,3,0,5,1,18,59,216,4,4.0,0,0,21479.38,11893.51,1,3

#### Dividing data in to Predictors and Target

In [43]:
X=insu_sample.drop(columns=['Result'])
X.columns
X.head()

,Area_Service,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,home_self_care,ccs_diagnosis_code,ccs_procedure_code,Code_illness,mortality_risk,Surg_Description,emergency_dept_yes_no,Tot_charg,Tot_cost,Payment_Typology
0,0,2,1,3,0,2,1,7,159,0,2,1.0,0,1,12834.66,3830.89,3
1,1,0,1,3,0,2,2,7,218,115,1,1.0,0,0,3269.74,1556.75,1
2,0,4,0,3,0,2,1,7,98,0,3,2.0,0,1,14640.73,3438.45,3
3,2,3,1,3,0,1,1,7,160,0,2,1.0,0,1,4108.17,2341.40,2
4,3,4,0,3,0,5,1,18,59,216,4,4.0,0,0,21479.38,11893.51,3

In [44]:
Y=insu_sample.Result
Y

0       1
1       0
2       1
3       0
4       1
       ..
5214    0
5215    1
5216    1
5217    0
5218    1
Name: Result, Length: 5219, dtype: int64

In [45]:
X.shape

(5219, 17)

## Check whether data is Balanced or Imbalanced

In [46]:
Y.value_counts()

1    3876
0    1343
Name: Result, dtype: int64

#### From the data we came to know that data is containing 75% of Genuine (1) data and 25% of Fraudulent (0) data.

#### This imbalance may create biasness in the model towards Genuine data, So Over Sampling is done to balance the data.

### Random Over Sampling

In [47]:
from imblearn.over_sampling import RandomOverSampler
os =  RandomOverSampler(sampling_strategy='minority')
X_over, Y_over = os.fit_resample(X, Y)
X_over.shape,Y_over.shape

((7752, 17), (7752,))

In [48]:
from collections import Counter
print(Counter(Y))
print(Counter(Y_over))

Counter({1: 3876, 0: 1343})
Counter({1: 3876, 0: 3876})

# Model Building

### Splitting data in to partitions for Training and Testing.

#### 80% of data for Training the model and 20% of data or Testing the model.

In [49]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_over,Y_over,test_size=0.2)

In [50]:
x_test=x_test.reset_index(drop=True)

y_test=pd.DataFrame(y_test)
y_test=y_test.reset_index(drop=True)

### Model Building using Random Forest Classifier

In [51]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=20,random_state=3)
rf.fit(x_train,y_train)
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
y_pred_rf=rf.predict(x_test)
print(confusion_matrix(y_test,y_pred_rf))
train_acc_rf=round(rf.score(x_train, y_train) * 100, 2)
test_acc_rf=round(accuracy_score(y_test,y_pred_rf)*100,2)
print('Train_Accuracy_score= {}'.format(train_acc_rf))
print("Test_Accuracy Score= {}".format(test_acc_rf))

print("Classification report: {}".format(classification_report(y_test,y_pred_rf)))

[[708  56]
 [173 614]]
Train_Accuracy_score= 99.92
Test_Accuracy Score= 85.24
Classification report:               precision    recall  f1-score   support

           0       0.80      0.93      0.86       764
           1       0.92      0.78      0.84       787

    accuracy                           0.85      1551
   macro avg       0.86      0.85      0.85      1551
weighted avg       0.86      0.85      0.85      1551

In [52]:
y_pred_rf=pd.DataFrame(y_pred_rf)
y_pred_rf.columns=['Predicted Values']

In [53]:
print(y_pred_rf.value_counts())

Predicted Values
0                   881
1                   670
dtype: int64

In [54]:
y_test=pd.DataFrame(y_test)
y_test.columns=['Actual Values']

In [55]:
print(y_test.value_counts())

Actual Values
1                787
0                764
dtype: int64

#### Comparision of Actual Values and Predicted Values

In [56]:
comparision=pd.concat([y_test,y_pred_rf],axis=1)
comparision.head(20)

    Actual Values  Predicted Values
0               0                 0
1               0                 0
2               1                 1
3               1                 1
4               1                 1
5               1                 1
6               0                 0
7               0                 0
8               1                 1
9               0                 0
10              1                 1
11              0                 1
12              0                 0
13              0                 0
14              0                 0
15              0                 0
16              1                 1
17              1                 1
18              1                 1
19              1                 1

## Create a Pickle file for Deployment Purpose

In [57]:
import pickle
# open a file, where you want to store the data
file = open('insu_rf.pkl', 'wb')

# dump information to that file
pickle.dump(rf, file)

In [58]:
model = pickle.load(open('insu_rf.pkl', 'rb'))

In [59]:
y_prediction = model.predict(x_test)

In [60]:
y_prediction=pd.DataFrame(y_prediction)
y_prediction.columns=['Predicted Values']

In [61]:
y_test=pd.DataFrame(y_test)
y_test.columns=['Actual Values']

#### Comparision of  Predictors, Actual and Predicted Values

In [62]:
comparison_pickle=pd.concat([x_test,y_test,y_prediction],axis=1)
comparison_pickle.head(10)

,Area_Service,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,home_self_care,ccs_diagnosis_code,ccs_procedure_code,Code_illness,mortality_risk,Surg_Description,emergency_dept_yes_no,Tot_charg,Tot_cost,Payment_Typology,Actual Values,Predicted Values
0,1,4,0,3,0,1,0,8,237,61,3,3.0,2,0,12880.27,4154.20,3,0,0
1,6,4,0,3,0,6,1,8,122,0,3,2.0,0,1,15968.93,7829.80,2,0,0
2,3,0,0,3,0,2,2,7,218,0,1,1.0,0,0,3988.25,854.47,1,1,1
3,0,2,1,3,0,3,0,7,59,222,1,1.0,0,0,9058.35,4235.51,1,1,1
4,2,3,1,0,0,28,0,7,660,219,3,1.0,0,0,23546.25,9309.04,1,1,1
5,1,2,1,3,0,7,5,7,657,218,2,1.0,0,0,9949.09,5442.95,2,1,1
6,4,3,1,3,0,2,1,7,242,231,3,3.0,0,1,20230.36,4010.68,2,0,0
7,0,3,1,3,0,4,0,8,114,55,2,3.0,2,0,33903.21,12428.96,3,0,0
8,0,0,1,3,0,11,1,7,657,0,2,1.0,0,0,23619.15,8653.57,1,1,1
9,0,1,0,3,0,1,0,17,2,0,3,3.0,0,0,9323.40,3921.82,1,0,0